/* RESET */

html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, aside, nav, main, header, footer {
    /* Cancel out some differences between browser defaults */
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
 
* {
    /* The width of an element will be the size of its border box, not its content box (which is the normal default). */
    box-sizing: border-box;
}

/* LAYOUT */

header {
	background-color: ;
}

aside {
	order: ;
	background-color: ;
	width: ;
	padding-bottom: ;
}

main { 
    /* Make sure the browser knows how to display the HTML5 main element. */
    order: ;
	display: block;
	background-color: ;
	background-image: url('');
	background-size: ;
	background-repeat: ;
	width: ;
}

#content {
	
}

nav {
	background-color: ;
}

footer {
	background-color: ;
	padding: ;
	color: ;
}

/* TYPOGRAPHY */

marquee {
	font-family: "";
	font-size: ;
	flex-basis: ;
	color: ;
	text-align: ;
}

h1 {
	font-family: "";
	font-size: ;
	flex-basis: ;
	color: ;
	text-align: ;
}

h2 {
	font-family: "";
	font-size: ;
	flex-basis: ;
	color: ;
	text-align: ;
	padding-top: ;
}

nav ul {
	display: flex;
	justify-content: ;
	list-style-type: ;
}

nav li {
	
}

nav a {
	font-family: ;
	color: ;
	text-decoration: ;
	font-size: ;
	padding-left: ;
	padding-right: ;
}

h3 {
	font-family: "";
	font-size: ;
	color: ;
	text-align: ;
	font-weight: ;
}


a.selected {
	color: ;
}

a:hover {
	color: ;
}

p {
	color: ;
	padding-top: ;
	padding-bottom: ;
	padding-left: ;
	padding-right: ;
	font-family: "";
	text-align: ;
	font-size: ;
}

a {
	font-size: ;
	text-decoration: ;
	color: ;
	font-weight: ;
	text-align: ;
}

footer span {
	color: ;
	font-style: ;
	float: ;
	padding-right: ;
}

/* IMAGES */

.center {
  display: block;
  margin-left: ;
  margin-right: ;
  width: ;
  padding-bottom: ;
}

iframe {
  display: block;
  margin-left: ;
  margin-right: ;
  width: ;
  padding-bottom: ;
	
}